<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BitConin Core</title>
    <script src="js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/daohang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="./css/daohang.css">
    <link rel="stylesheet" href="./css/scroll.css">
</head>
<body>
<div id="scrollDiv" >
    <ul>
        <li>百度 www.baidu.com</li>
        <li>脚本之家 www.jb51.net</li>
        <li>这是公告标题的第三行</li>
        <li>这是公告标题的第四行</li>
        <li>这是公告标题的第五行</li>
        <li>这是公告标题的第六行</li>
        <li>这是公告标题的第七行</li>
        <li>这是公告标题的第八行</li>
    </ul>
</div>





{{/*<div id="div1">*/}}
{{/*    <h3>Blockchain</h3>*/}}
{{/*    <ul>*/}}
{{/*        <li>getbestblockhash</li>*/}}
{{/*        <li>getbestblock</li>*/}}
{{/*        <li>getblockchaininfo</li>*/}}
{{/*        <li>getblockcount</li>*/}}
{{/*        <li>getbessthash</li>*/}}
{{/*        <li>getblockhash + height</li>*/}}
{{/*        <li>getdifficulty</li>*/}}
{{/*        <li>getchaintips</li>*/}}
{{/*        <li>getaddressinfo</li>*/}}
{{/*    </ul>*/}}
{{/*    <h3>Control</h3>*/}}
{{/*    <ul>*/}}
{{/*        <li>help</li>*/}}
{{/*        <li>stop</li>*/}}
{{/*        <li>uptime</li>*/}}
{{/*    </ul>*/}}
{{/*    <h3>Network</h3>*/}}
{{/*    <ul>*/}}
{{/*        <li>ping</li>*/}}
{{/*    </ul>*/}}
{{/*    <h3>Wallet</h3>*/}}
{{/*    <ul>*/}}
{{/*        <li>getbalance</li>*/}}
{{/*        <li>getbalances</li>*/}}
{{/*    </ul>*/}}
{{/*</div>*/}}
</body>
</html>
