*{padding: 0;margin: 0;}
#div1 h3{
    color: #00008B;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}
#div1 ul{
    background-color: #CCDDFF;
    width: 150px;
    padding: 20px 10px;
    display: none;
}
#div1 ul li{
    list-style: none;
    margin: 20px 10px;

}